# config/env.yaml

# --- General Environment Settings ---
environment:
  dt: 0.05          # Time step duration in seconds
  max_steps: 2000    # Maximum number of steps per episode
  render_fps: 30    # Frames per second for visualization
  
  # Boundaries of the square world (meters)
  world_bounds:
    x_min: -2.0
    x_max: 2.0
    y_min: -2.0
    y_max: 2.0



# --- Robot Physical Limits ---
robot:
  radius: 0.3       # Radius of the robot (meters) for collision checking
  v_min: 0.0        # Minimum linear velocity (m/s) - small negative velocity for exiting blind spots
  v_max: 1.0        # Maximum linear velocity (m/s)
  w_min: -1.5       # Minimum angular velocity (rad/s)
  w_max: 1.5        # Maximum angular velocity (rad/s)

  lidar_range: 3.0      # Max detection range for the robot's sensors
  lidar_rays: 20        # Number of LiDAR fixed rays



# --- Obstacle Configuration ---
obstacles:
  # Mode: 'random' or 'fixed'
  # If 'random': Obstacles are spawned randomly within world_bounds
  spawn_mode: "random" 
  # If 'fixed': Obstacles are spawned at the coordinates listed below
  # spawn_mode: "fixed" 
  
  n_obstacles: 3       # Number of obstacles to spawn (ignored if fixed)
  
  min_clearance: 2    # Min distance between obstacles and robot/goal at spawn
  
  # Define fixed obstacle.
  # Format: [type, center_x, center_y, parameters]
  # Parameters: 
  #   if type == circle    ->   parameters = [radius]
  #   if type == rectangle ->   parameters = [width, height]
  #Used only if spawn_mode is "fixed"
  fixed_obstacles:
    # Standard Circle
    - ['circle', -2.0, -2.0, [0.4]]
    # Standard Rectangle
    - ['rectangle', 2.5, -1.0, [1.0, 0.5]]
    # Custom Polygon (Triangle)
    # - ['polygon', [[3.0, 2.0], [3.5, 2.5], [4.0, 2.0]]]
    # Custom Complex Shape (L-shape)
    - ['polygon', [[-0.5, 1.5], [-1.5, 1.5], [-1.5, 1.0], [-1.0, 1.0], [-1.0, 0.5], [-0.5, 0.5]]]



# --- Goal Configuration ---
goal:
  # Mode: 'random' or 'fixed'
  # If 'random': Goal are spawned randomly within world_bounds
  spawn_mode: "random" 
  # If 'fixed': Obstacles are spawned at the coordinates listed below
  # spawn_mode: "fixed"

  dist_threshold: 0.1    # meters (e.g., 10cm)
  angle_threshold: 0.2   # radians (approx 11 degrees)

  spawn_margin: 0.2 # Margin from the world bounds in which the goal can spawn

  # Define fixed goal.
  # Format: [center_x, center_y, theta]
  fixed_goal: [3, 3, 0.0]



# --- Reward Function Weights ---
rewards:
  progress_scale: 10.0      # Multiplier for distance reduction (Dense reward)
  time_penalty: 0.05        # Penalty per step (encourages speed)
  collision_penalty: 20.0   # Penalty for hitting an obstacle
  success_reward: 20.0      # Reward for reaching the goal